
*.warc
*.pyc
*.json

doc2vec/pickle
doc2vec/data/crawls/*
doc2vec/data/msrdata/*

baseline/pickle
baseline/data/weights/*
baseline/data/msrdata/*


glove/pickle
glove/data/glove/*
glove/data/msrdata/*

translator/pickle
translator/data/checkpoints/*
translator/data/vocab/*
# translator/data/msrdata/*

skip-thoughts-master
skipthought-max
